body{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #009688;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.quiz-box{
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 40px auto;
    border-radius: 20px;
    max-width: 700px;
    max-height: 500px;
}
.quiz-box .ques-no{
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .ques-text{
    font-size: 22px;
    color: #000000;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    line-height: 28px;
}
.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn{
    width: 40%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #009688;
    text-align: center;
    text-transform: uppercase;
    margin-left: 30%;

}

